<h2>{{ databaseName }}</h2>
<h3>Tables</h3>
<table mat-table [dataSource]="tables" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Table</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="numColumns">
    <th mat-header-cell *matHeaderCellDef>Columns</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/databases/{{ databaseName }}/{{ element.name }}/columns">
        {{ element.numColumns }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="numRows">
    <th mat-header-cell *matHeaderCellDef>Rows</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/databases/{{ databaseName }}/{{ element.name }}/rows">
        {{ element.numRows }}
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedTableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTableColumns"></tr>
</table>
