.sidenav-container {
  height: 100%;
}

.sidenav-main-content {
  padding: 20px;
}

.sidenav-side-content {
  padding: 0px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-text {
  text-decoration: none;
  background-color: #00305d;
  color: #fff;
  padding: 21px;
}

.sidenav-subheader {
  padding-top: 24px;
  margin-bottom: 0px;
}
