<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" class="sidenav" opened>
    <h1>
      <a routerLink="/" class="logo-text">FHKielMyAdmin</a>
    </h1>
    <div mat-subheader class="sidenav-subheader">
      <strong>Databases</strong>
    </div>
    <mat-nav-list>
      @for (database of databases; track database) {
      <a
        mat-list-item
        routerLink="/databases/{{ database }}"
        [activated]="isActiveDatabase(database)"
        >{{ database }}</a
      >
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="sidenav-content">
      <div class="sidenav-main-content">
        <app-breadcrumbs></app-breadcrumbs>
        <router-outlet></router-outlet>
      </div>
      <div class="sidenav-side-content">
        <app-api-event-log></app-api-event-log>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
