.sidenav-container {
  height: 100%;
}

.sidenav-content {
  padding: 20px;
}

.sidenav {
  background-color: #fff;
  color: #00305d;
}

.logo-text {
  text-decoration: none;
  background-color: #00305d;
  color: #fff;
  padding: 21px;
}

.logo-text:hover {
  background-color: #00305d;
  color: #fff;
}

.sidenav-subheader {
  padding-top: 24px;
  margin-bottom: 0px;
}
