<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side">
    <h1>
      <a routerLink="/" class="logo-text">FHKielMyAdmin</a>
    </h1>
    <div mat-subheader class="sidenav-subheader">
      <strong>Databases</strong>
    </div>
    <mat-nav-list>
      @for (database of databases; track database) {
      <a
        mat-list-item
        routerLink="/databases/{{ database }}"
        [activated]="isActiveDatabase(database)"
        >{{ database }}</a
      >
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end" class="sidenav-side-content">
    <app-api-event-log></app-api-event-log>
  </mat-sidenav>
  <div class="sidenav-main-content">
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
