<h3>API Event Log</h3>
<div>
  @for (apiEvent of apiEvents; track apiEvent) {
  <p>
    @if (apiEvent.type === 'add-database') {
    <span class="api-event-log-add-database">
      Database {{ apiEvent.database }} was added
    </span>
    } @if (apiEvent.type === 'delete-database') {
    <span class="api-event-log-delete-database">
      Database {{ apiEvent.database }} was deleted
    </span>
    } @if (apiEvent.type === 'add-table') {
    <span class="api-event-log-add-table">
      Table {{ apiEvent.table }} was added to database
      {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'add-column') {
    <span class="api-event-log-add-column">
      Column {{ getColumnName(apiEvent) }} was added to table
      {{ apiEvent.table }} in database {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'add-row') {
    <span class="api-event-log-add-row">
      Row was added to table {{ apiEvent.table }} in database
      {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'delete-table') {
    <span class="api-event-log-delete-table">
      Table {{ apiEvent.table }} was deleted from database
      {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'delete-column') {
    <span class="api-event-log-delete-column">
      Column {{ apiEvent.column }} was deleted from table
      {{ apiEvent.table }} in database {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'delete-row') {
    <span class="api-event-log-delete-row">
      Row was deleted from table {{ apiEvent.table }} in database
      {{ apiEvent.database }}
    </span>
    } @if (apiEvent.type === 'update-row') {
    <span class="api-event-log-update-row">
      Row was updated in table {{ apiEvent.table }} in database
      {{ apiEvent.database }}
    </span>
    }
  </p>
  }
</div>
