<h2 class="page-title">Home</h2>

<h3>Databases</h3>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/databases', element]">{{ element }}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedTableColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
